/* Inspired from https://imgur.com/a/6jdJBmo#QCKi4rL */

* {
    border: none;
    border-radius: 0;
	/** See https://github.com/ryanoasis/nerd-fonts/issues/127 */
    font-family: NotoSansMono Nerd Font;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: #FFFFFF;
    border-bottom: 1px solid rgba(24, 29, 42, 0.93);
    color: #000000;
}

#workspaces button {
    padding: 0 6px;
    background: transparent;
    color: #000000;
}

#workspaces button.focused {
    border: 1px solid #5C6773;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #tray, #mode {
    padding: 0;
    margin: 0 8px;
}

@keyframes blink {
    to {
        color: white;
    }
}

#battery:not(.charging) {
    color: #818a8d;
}

#battery.critical:not(.charging) {
    color: #e06c75;
    animation-name: blink;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    color: #f07178;
}
